.main-box {
    background-color: rgb(123, 11, 11);
    width: 380px;
    height: 225px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 30px;


}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content:flex-start;
    flex-wrap:wrap;


}