.form{
    width: 300px;
    height: 350px;
    border: 2px solid gray;
    border-radius: 5px;

    margin: auto;
}
label{
    display: block;
    margin-top: 10px;
}
input{
    width: 98%;
    height: 30px;
}
.buttonform {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background-color: rgb(0, 0, 255);
    margin-top: 20px;


}